header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    padding: 20px;
    border: 2px solid black;
    border-radius: 100px;
}
h3{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

font-style: italic;
}
.container{
    border: 2px solid black;
    border-radius: 20px;
    width: 40vw;
    display: flex;
    height: 50vh;
    flex-direction: column;
    background-color: aliceblue;
    background-image: url('https://static.toiimg.com/photo/msid-103053443,width-96,height-65.cms');
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#entertext{
    height: 30px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 45px;
    margin-top: 10px;
}

#addtask{
    
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: auto;
    
}
#addtask:hover{
    background-color: #218838;
    transition: 0.5s ease-in-out;
}

li {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li span {
    flex-grow: 1; 
    margin-right: 20px; 
}


li button {
    background-color: #dc3545;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}
body{
    background-color: aliceblue;
}
